html{
	scroll-behavior:smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}

section {
	padding: 80px 0;
}

.container {
	max-width: 1320px;
	margin: auto;
	width: 70%;
}
.w-3{
	width:25%;
}
.w-5 {
	width: 41.33%;
}
.w-6 {
	width: 50%;
}
.w-10{
	width:100%;
}

.d-flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.align-center {
	align-items: center;
}

.align-baseline {
	align-items: baseline;
}

/*---------- header start---------- */

header {
	padding: 7px;
	font-family: 'Ubuntu', sans-serif;
	background-color: white;
	box-shadow: 0px 3px 7px gray;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	height: 85px;

}

.header nav ul li {
	margin-right: 10px;
	color: gray;
}

header nav ul li a {
	margin-right: 40px;
	color: #443;
	font-size: 20px;
	position: relative;

}

header nav ul li a::after {
	content: "";
	border-right: 3px solid #443;
	width: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -5px;
	margin-right: -3px;
	font-family: 'Poppins', sans-serif;
}

header nav ul {
	color: #69706b;
	display: flex;
	margin: 23px 15px 15px 15px;
}

.logo {
	color: #443;
	font-weight: light;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
}

.logo i {
	margin-left: 0.8px;
}

.btn {
	color: #443;
	padding: 10px;
	border: 3px solid #443;
	border-radius: 25px 0 25px 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;

}


.btn:hover {
	border: 3px dashed #443;

}

/*-----------header end----------*/

/*----------home start-----------*/
#home {
	min-height: 100vh;
	background-image: url(../Images/home-bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.home-content {
	width: 550px;

}

.home-content h4 {
	font-size: 60px;
	color: #7B3F00;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 30px;

}

/* .home-content a {
	/* margin-left:1px; */


.home-image {
	text-align: end;


}

.home-image img {
	height: 550px;
	padding-top: 100px;
	/* background-attachment:fixed; */

}

.home-slider {
	text-align: center;

}

.image-slider img {
	height: 70px;
	margin-top: 200px;

}

/* -----------Home End---------- */





/* ----------About Start----------- */




.heading {
	text-align: center;
	position: relative;
	font-size: 90px;
	-webkit-text-fill-color:white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(111, 106, 106);
	margin-bottom:50px;
}

.heading span {
	position: absolute;
	-webkit-text-fill-color: rgb(67, 65, 65);
	transform: translate(-382px, 30px);
	font-size: 33px;
}

.about-image img {
	width: 400px;
	height: 300px;
}

.about-content h4 {
	font-size: 30px;
	color: gray;
}

.about-content p {
	font-size: 18px;
	color: gray;
	line-height: 1.5;
	margin: 10px 0px;
}
.icon-container .icon{
	border:1px solid gray;
	text-align:center;
	padding:10px;
	border-radius:10px;
	margin:15px 10px 0 0;
}

/* ----------About End----------- */
/* ----------Menu Start----------- */
#menu {
	background-image: url(../Images/menu-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.menu-container {
	border: 1px solid gray;
	border-radius: 50px;
	padding: 20px 40px;
	position: relative;
	margin: 30px;

}

.menu-container img {
	position: absolute;
	left: -40px;
	top: 40px;
	height: 80px;
}

/* ----------Menu End----------- */
/* ----------Review start----------- */
.review-container{
	border:1px solid gray;
	border-radius:0px 50px 0px 50px;
	padding:10px 30px;
	text-align:center;
	position:relative;
	margin:0 10px;
}
.review-container img{
	width:100;
	border-radius:50%;
	
}
.fa-quote-left,
.fa-quote-right{
	font-size:80px;
	color:gray;
}
.fa-quote-left{
	position:absolute;
	top:0;
	left:10px;
}
.fa-quote-right{
	position:absolute;
	bottom:0;
	right:10px;
}
/* ----------Review End----------- */
/* ----------Booking Start----------- */
#booking{
	background-image: url(../Images/book-bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
form{
	border:1px solid #443;
	border-radius: 8% 92% 9% 91% / 80% 15% 85% 20%;
	padding: 10%;
	
}
#name,
#email,
#number,
#msg{
	width:100%;
	margin:6px 0;
	padding:7px;
	border-radius:10px;
	background:none;
	border:1px solid #443;
}
form button{
	color:#443;
	padding:10px;
	border-radius:10px;
	background:none;
	
}
#send{
	margin:10px 0;
}

/* ----------Booking End----------- */
/* ----------footer start----------- */
.footer{
	background-color: white;
	padding: 25px;
}
.contact{
	color: black;
	margin-left: 5px;
	font-size: large;
}
.mt-3{
	margin-top: 7px;
}
.mt-3 ul li a{
	color: rgb(75, 71, 71);
	margin: 10px;
	font-size: medium;
}
.center{
	margin-left: 500px;
}

.box a{
	display: block;
	margin: 10px;

}
/* ----------footer End----------- */
