* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.container {
    max-width: 1320px;
    margin: auto;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.w-13 {
    width: 20%;
}

/* <!----------Navigation Bar Start-----------> */
.nav {
    border-bottom: none;
    background: #253237;
    padding: 15px 0;
    line-height: 1;
    color: white;
    font-size: 14px;
}

.nav span {
    background-color: #253237;
    margin: 0px 10px;
    letter-spacing: 0.1px;
}

.nav ul li {
    margin: 0px 15px;
}

.nav ul li a {
    color: white;
    position: relative;
}

.nav ul li a::after {
    position: absolute;
    content: "|";
    left: -20px;
}

.nav ul li a:hover {
    color: #198753;
}
.nav ul li a i{
    margin-right: 8px;
}
/* <!----------Navigation Bar Start-----------> */
/* <!----------Header Start-----------> */
header {
    font-size: 14px;
    position: relative;
}

.header {
    width: 100%;
    padding: 15px 10px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    font-weight: 800;
    letter-spacing: 0.5px;
    height: 80px;
}

.header ul li a:hover {
    color: #46916e;
}

.header ul li a,
.icon {
    color: #253237;
    padding: 0px 12px;
}

.search {
    font-size: 25px;
}

.search-box {
    border: 1.5px solid rgb(101, 203, 101);
    
    padding: 10px;
}

.header a {
    color: #253237;
    position: relative;
}

.contact a:hover,
.ri-search-2-line:hover,
.cart a:hover,
.cart-price:hover {
    color: #46916e;
}

.cart a img {
    width: 30px;
    height: 30px;
    margin: 8px;

}

.phone h4 {
    color: #6c757d;
    margin: 1px;
}

.phone {}

.contact-icon {
    margin-right: 15px;
}

.notification {
    background-color: #4fb68d;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    margin-left: -15px;
}

/* <!----------Header End-----------> */
/* <!----------slider-img Start----------->*/
.slider {
    min-height: 80vh;
}

.slider-img1 img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.slider-content1 span {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #253237;
    font-style: italic;
    line-height: 1.5;

}

.slider-content1 h1 {
    font-size: 45px;
    font-weight: 600;
    color: #253237;
    margin-bottom: 30px;
    line-height: 1;
}

.slider-content1 p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #555;
}

.btn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #4fb68d;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 14px;
}

/*<!----------slider-img end ----------->*/

/*------Static area start--------*/
.static-area {
    margin-top: 50px;
    margin-bottom: 50px;
}

.static-area-wrap {
    border: 2px solid #ebebeb;
    border-radius: 10px;
    padding: 40px 40px;
}

.static-icon {
    width: 45px;
    margin-right: 10px;
}

.static-content h3 {
    color: #253237;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.static-content p {
    line-height: 1.5;
    color: #666;
    font-size: 15px;
}

/*------Static area end--------*/
/*------Best-seller start--------*/

.best-seller {
    margin-top: 50px;
    margin-bottom: 50px;
}

.best-seller h3 {
    font-size: 24px;
    color: #253237;
    line-height: 16px;
    font-weight: 600px;
    margin-bottom: 15px;
}

.best-seller p {
    color: #888;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.seller-container {
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
    margin-right: 30px;
    overflow: hidden;
}

.new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4fb68d;
    color: #fff;
    text-align: center;
    padding: 0 5px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
}

.sellerimg img {
    width: 100%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    top: 35px;
}

.sellerimg1 img {
    width: 100%;
}

.seller-container:hover .sellerimg {
    opacity: 0;
    transition: 0.5s linear;
}

.seller-content {
    padding: 20px 15px 20px 15px;
    background: #fff;
    overflow: hidden;
}

.seller-content span {
    font-size: 12px;
    color: #999;
    line-height: 1;
    margin-bottom: 10px;
}

.seller-content h3 {
    font-size: 14px;
    color: #253237;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}

.ri-star-fill {
    color: rgb(255, 230, 0);
}

.seller-price {
    margin-right: 20px;
    font-size: 14px;
}

.seller-price li {
    display: inline-block;
}

.old-price {
    text-decoration: line-through;
    color: #9b9b9b;
}

.new-price {
    color: red;
}

.discount {
    background-color: red;
    color: white;
    padding: 0 2px;
    border-radius: 2px;
    height: 20px;
    width: 40px;
    text-align: center;
}

.add-cart {
    position: absolute;
    bottom: -60px;
    padding: 12px;
    background-color: white;
    width: 100%;
}

.cart1 a {
    font-size: 16px;
    float: left;
    display: inline;
    margin-right: 20px;
    color: #253237;
}

.cart2 a {
    margin-left: 30px;
    display: inline;
    float: left;
    color: #253237;
}

.cart1 a:hover {
    font-weight: bolder;
    color: #253237;
    text-decoration: underline;

}

.seller-container:hover .add-cart {
    width: 100%;
    font-weight: 800;
       color: #253237;;
    text-decoration: underline;
    transform: translateY(-55px);
    transition: 0.2s linear;
}

.search {
    opacity: 0;
}

.ri-search-line {
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 25px;
    background-color: white;
    color: #198753;
    padding: 10px;
    border-radius: 100px;

}

.ri-search-line:hover {
    background-color: #198753;
    color: white;
}

.seller-container:hover .search {
    opacity: 1;
}

/*-------best-seller end---------*/
/* -------Popular Catagories start--------- */
.popular-categories {
    margin-top: 50px;
    margin-bottom: 50px;
}

.popular-head h3 {
    font-size: 24px;
    color: #253237;
    line-height: 16px;
    margin-bottom: 15px;
}

.popular-head span {
    color: #888;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.categories {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.categories-img {
    width: 100%;
    position: relative;
}

.categories-img img:hover {
    transform: scale(1.1);
    transition: 0.5s linear;
}

.categories-list {
    position: absolute;
    top: 20px;
    margin: 10px;
}

.categories-list h4 {
    color: #253237;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1;
    margin: 10px;
}

.product-no {
    color: #888;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 1;
    position: absolute;
    top: 50px;
    margin: 20px;
}

.shop-btn {
    color: #253237;
    font-size: 17px;
    line-height: 1;
    border: none;
    position: absolute;
    bottom: 40px;
    background-color: transparent;
    margin: 20px;
}

.shop-btn:hover {
    transform: translateX(20px);
    transition: 0.5s linear;
}

.ri-arrow-right-s-fill {
    border: 1px solid #4fb68d;
    border-radius: 50%;
    background-color: #4fb68d;
    color: white;
    margin: 10px;
}

/*-------Popular Catagories end---------*/
/* --------Hot-deals start---------- */
.deals {
    margin-top: 50px;
    margin-bottom: 50px;
}

.left-deal h3 {
    font-size: 24px;
    color: #253237;
    line-height: 16px;
    font-weight: 600;
    margin: 0 0 15px;
}

.left-deal span {
    color: #888;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
    position: relative;
    margin-top: 10px;
}

.deal-container {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    position: relative;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
}

.dealerimg img {
    width: 100%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    top: 35px;
}

.dealerimg1 img {
    width: 100%;
}

.deal-container:hover .dealerimg {
    opacity: 0;
    transition: 0.5s linear;
}

.deal-container:hover {
    border: 1px solid #198753;
}

.new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4fb68d;
    color: #fff;
    text-align: center;
    padding: 0 5px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
    z-index: 2;
}

.deal-content {
    padding: 20px 15px 20px 15px;
    background: #fff;
    line-height: 30px;
    position: relative;
}

.deal-content span {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.deal-content h3 {
    font-size: 20px;
    color: #253237;
    font-weight: 700;
    margin-bottom: 10px;
}

.ri-star-fill {
    color: rgb(255, 230, 0);
}

.deal-price {
    margin-right: 20px;
    font-size: 14px;
}

.deal-price li {
    display: inline-block;
}

.old-price {
    text-decoration: line-through;
    color: #9b9b9b;
}

.new-price {
    color: red;
}

.discount {
    background-color: red;
    color: white;
    padding: 0 2px;
    border-radius: 2px;
    text-align: center;
}

.price {
    color: #9b9b9b;
}

.deal-price span {
    color: #198753;
    font-size: 20px;
    padding: 10px;
}

.right-deal h3 {
    font-size: 24px;
    color: #253237;
    line-height: 16px;
    font-weight: 600;
    margin: 0 0 15px;
}

.right-deal span {
    color: #888;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    position: relative;
    margin-top: 10px;
}

.newarrivals-container {
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.newimg img {
    width: 100%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}

.newimg1 img {
    width: 100%;
}

.newarrivals-container:hover .newimg {
    opacity: 0;
    transition: 0.5s linear;
}

.newarrivals-container:hover .search {
    opacity: 1;
}

.newarrivals-container:hover {
    border: 1px solid #198753;
    transition: 0.5s linear;
}

.add-cart1 {
    position: absolute;
    bottom: -60px;
    padding: 12px;
    background-color: white;
    width: 100%;
}

.cart4 a {
    font-size: 15px;
    float: left;
    display: inline;
    margin-right: -10px;
    font-weight: 900;
}

.cart5 a {
    margin-left: 40px;
    display: inline;
    float: left;
    font-weight: 800;
}

.cart4 a:hover {
    font-weight: bolder;
    color: #198753;
    text-decoration: underline;
}

.newarrivals-container:hover .add-cart1 {
    transform: translateY(-60px);
    transition: 0.2s linear;
}

.new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4fb68d;
    color: #fff;
    text-align: center;
    padding: 2px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
}

.newarrivals-content {
    line-height: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: #253237;
    padding: 10px;
}

.newarrivals-content span {
    font-size: 12px;
    color: #999;
    line-height: 1;
    margin-bottom: 10px;
}

.newarrivals-content h3 {
    font-size: 14px;
    color: #253237;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}

.ri-star-fill {
    color: rgb(255, 230, 0);
}

.newarrivals-price {
    margin-right: 20px;
    font-size: 14px;
}

.newarrivals-price li {
    display: inline-block;
}

.old-price {
    text-decoration: line-through;
    color: #9b9b9b;
}

.new-price {
    color: red;
}

.discount {
    background-color: red;
    color: white;
    padding: 0 2px;
    border-radius: 2px;
    height: 20px;
    width: 40px;
    text-align: center;
}

.price {
    color: #9b9b9b;
}


.search {
    opacity: 0;
}

.ri-search-line {
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 25px;
    background-color: white;
    color: #198753;
    padding: 10px;
    border-radius: 100px;

}

.ri-search-line:hover {
    background-color: #198753;
    color: white;
}

.deal-container:hover .search {
    opacity: 1;
}

/* ----------Hot-deals start---------- */
/* <!--------Banner1 start---------> */

.banner1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner1-img {
    position: relative;
    overflow: hidden;
    margin-right: 30px;
}

.banner1-img img:hover {
    transform: scale(1.1);
    transition: 0.5s linear;
}

.banner1-img img {
    width: 100%;
}

/*----------- banner1 end--------- */
/*------------ featured product start--------- */
.featured-product {
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-head h3 {
    font-size: 24px;
    color: #253237;
    line-height: 16px;
    margin-bottom: 15px;
}

.product-head span {
    color: #888;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.product {
    position: relative;
    background: #fff;
    /* z-index: 1; */
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 20px;
}

.product:hover {
    border: 1px solid #198753;
    transform: scaleX(1.1);
    transition: 0.5s linear;
}

.product-img {
    position: relative;
    overflow: hidden;
    float: left;
}

.product-img img {
    width: 150px;
}

.product-list {
    background: #fff;
    overflow: hidden;
    position: relative;
    padding: 10px;
    margin: 10px;
}

.product-list span {
    font-size: 12px;
    color: #999;
    line-height: 1;
}

.product-list h3 {
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #253237;
    font-size: 14px;
}

.ri-star-fill {
    color: rgb(255, 230, 0);
}

.seller-price {
    margin-right: 20px;
    font-size: 14px;
}

.seller-price li {
    display: inline-block;
}

.old-price {
    text-decoration: line-through;
    color: #9b9b9b;
}

/* featured product end */
/* <!-- Recenty Added section start --> */
.recently-added {
    margin-top: 50px;
    margin-bottom: 50px;
}

.recently-added h3 {
    font-size: 24px;
    color: #253237;
    line-height: 16px;
    font-weight: 600px;
    margin-bottom: 15px;
}

.recently-added p {
    color: #888;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.recently-container {
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
    margin-right: 20px;
    overflow: hidden;

}

.recently-container:hover {
    border: 1px solid #198753;
    transition: 0.5s linear;
}

.new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4fb68d;
    color: #fff;
    text-align: center;
    padding: 0 5px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
}

.recentimg img {
    width: 100%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    top: 30px;
}

.recentimg1 img {
    width: 100%;
}

.recently-container:hover .recentimg {
    opacity: 0;
    transition: 0.5s linear;
}

.recently-content {
    padding: 20px 15px 20px 15px;
    background: #fff;
    overflow: hidden;
}

.recently-content span {
    font-size: 12px;
    color: #999;
    line-height: 1;
    margin-bottom: 10px;
}

.recently-content h3 {
    font-size: 14px;
    color: #253237;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}

.ri-star-fill {
    color: rgb(255, 230, 0);
}

.recently-price {
    margin-right: 20px;
    font-size: 14px;
}

.recently-price li {
    display: inline-block;
}

.old-price {
    text-decoration: line-through;
    color: #9b9b9b;
}

.new-price {
    color: red;
}

.discount {
    background-color: red;
    color: white;
    padding: 0 2px;
    border-radius: 2px;
    height: 20px;
    width: 40px;
    text-align: center;
}

.add-cart2 {
    position: absolute;
    bottom: -60px;
    padding: 14px;
    background-color: white;
    width: 100%;
}

.cart7 a {
    font-size: 16px;
    float: left;
    display: inline;
    margin-right: 0px;
    font-weight: 900;
    color:#253237;
}

.cart8 a {
    margin-left: 20px;
    display: inline;
    float: left;
    font-weight: 900;
    color:#253237;
}

.cart7 a:hover {
    font-weight: bolder;
    color: #198753;
    text-decoration: underline;
}


.search {
    opacity: 0;
}

.ri-search-line {
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 25px;
    background-color: white;
    color: #198753;
    padding: 10px;
    border-radius: 100px;

}

.ri-search-line:hover {
    background-color: #198753;
    color: white;
}

.recently-container:hover .search {
    opacity: 1;
}

.recently-container:hover .add-cart2 {
    width: 100%;
    font-weight: 800;
    color: #198753;
    text-decoration: underline;
    transform: translateY(-55px);
    transition: 0.2s linear;
}

/* <!-- Recenty Added section end --> */
/*------- brand logo start----------- */
.brand-logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.brand {
    border: 1px solid #ebebeb;
}

.brand-img img {
    width: 100%;
    padding: 20px;
}

/* -----------brand logo end----------- */
/* ------------footer start------------ */

.footer-area {
    color: #666;
    position: relative;
    z-index: 1;
    background: #efefef;
    overflow: hidden;
    margin-top: 50px;
}

.footer-logo {
    position: relative;
}

.footer-logo img {
    width: 150px;
    margin: 20px 0;
    padding: 20px 0;
}

.footer-content {
    line-height: 1.2;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.need-help {
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 40px;
}

.help-icon img {
    margin-right: 10px;
}

.help-content span {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    color: black;
}

.social ul li {
    display: inline-block;
}

.social ul li a {
    position: relative;
    display: inline-block;
    color: #504f4f;
    font-size: 30px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    /* z-index: 1; */
    margin-right: 25px;
}

.footer-center,
.footer-right {
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 40px;
    position: relative;
    color: #253237;
    border-bottom: 1px solid #e3e3e3;
    font-weight: 700;

}

.footer-center::after,
.footer-right::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 60px;
    height: 2px;
    background: #4fb68d;
}

.center-content ul li {
    line-height: 1;
    font-weight: 400;
    margin-bottom: 10px;
}

.center-content ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    position: relative;
}

.center-content ul li a:hover {
    margin: 20px;
    transition: 0.5s linear;
}

.sign-up a {
    border: 1px solid #253237;
    border-radius: 0px 50px 50px 0px;
    background-color: #253237;
    color: white;
    padding: 8px;
}
.search-box1{
    border:2px solid #253237;
padding: 10px;
margin: -5px;
}

.app-img img {
    margin-top: 30px;
    margin-right: 20px;
}

.footer-bottom {
    position: relative;
    margin: 20px;
}

.bottom-right p {
    margin-top: 50px;
}

.bottom-left img {
    position: absolute;
    right: 20px;
    top: 50px;
}

/*--------- footer end -------------*/
/* ---------arrow start------------ */

.ri-arrow-up-s-line {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #4fb68d;
    color: #fff;
    right: 20px;
    bottom: 60px;
    font-size: 40px;
    padding: 10;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 9811;
}

/*----------arrow end-------------- */